{% extends "booksite/base_template.html" %}

{% block menu %}
	<li><a href="/">Ana Sayfa</a></li>
	<li class="active"><a href="/all_books/">Tüm Kitaplar</a></li>
	<li><a href="/about/">Hakkında</a></li>
{% endblock %} 

{% block content %}

			<div class="row">
				<form method="get" action="/all_books">
					<div class="col-md-4">
						<select name="genre" class="form-control"> 
						{% for genre in all_genres_list %}
							<option value="{{genre.id}}" {% if request.GET.genre == genre.id|stringformat:"s" %} selected {% endif %}>{{genre.name}}</option> {% endfor %}
						</select>
					</div>
					<div class="col-md-4">
						<input type="submit" value="Göster" class="form-control">
					</div>
				</form>
			</div>
			<br />
			<div>
				{% if book_number %}
				<p>Açık Kütüphane'de {{book_number}} tane kitap vardır. Bu kitapların PDF olarak listesine 
				<a href="{% url 'output_pdf_book_list' %}">buradan</a> erişebilirsiniz.
				{% endif %}
			</div>
			<br /> {% if all_books_list %}
			<div class="panel panel-default">
				<div class="panel-heading">Kitaplar</div>
				<div class="panel-body">
					<ul class="list-gruop">
						{% for book in all_books_list %}
						<li class="list-group-item">
							<div style="width: 100%;">
								<h4>
									<a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
									{% if book.publish_date > threshold_date %}
									    <span class="label label-danger">Yeni</span>
									{% endif %}
								</h4>
							</div>
							<div>
								<p style="font-weight: bold;">Tanıtım:</p>
								<p>{{ book.short_summary }}</p>
							</div>
							<div style="overflow: hidden; float:left; width:70%;"  class="item-column1">
								
								<p style="font-weight: bold;">Yazarlar:
								<ul>
									{% for author in book.authors.all %}
									<li style="display: inline;" {% if not forloop.last %}><a href="{% url 'author_detail' author.id %}">
									
									{{ author.first_name }} {{ author.last_name }}</a>, </li>
									{% endif %}
									<li style="display: inline;" {% if forloop.last %} >
										<a href="{% url 'author_detail' author.id %}">
										{{ author.first_name }} {{ author.last_name }}</a></li>
									</li>
									{% endif %} 
									{% endfor %}
								</ul>
								</p>
								<p style="font-weight: bold;">Lisans:</p>
								{% if book.license.name == "Belirtilmemiş" %}
									<p>{{ book.license.name }}</p>
								{% else %}
									<p><a href="{% url 'license_detail' book.license.id %}">{{ book.license.name }}</a></p>
								{% endif %}
							</div>
							<div style="overflow: hidden; overflow: hidden; text-align: right" class="item-column2">
								<img src="/static/{{book.cover_path}}"
									alt="Kitap Kapagi" width="100" height="140" />
							</div>
						</li> 
						{% endfor %}
					</ul>
				</div>
				{% else %}
				<p>Herhangi bir kitap bulunmamaktadır.</p>
				{% endif %}
			</div>

			<div class="pagination">
				<ul class="pager">
					{% if all_books_list.has_previous %}
					<li><a href="?page={{ all_books_list.previous_page_number }}">Önceki</a></li>
					{% endif %}
					<span class="current">  
						{{ all_books_list.number }} / {{ all_books_list.paginator.num_pages }} 
					</span> 
					{% if all_books_list.has_next %}
					<li><a href="?page={{ all_books_list.next_page_number }}">Sonraki</a></li>
					{% endif %}
				</ul>
			</div>
{% endblock %}
