<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ücretsiz e-kitapların bulunduğu internet sitesi">
    <meta name="author" content="D. Barış Akkurt">

    <title>Açık Kütüphane</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/booksite/">Ana Sayfa</a></li>
          <li class="active"><a href="/booksite/all_books/">Tüm Kitaplar</a></li>
          <li><a href="/booksite/about/">Hakkında</a></li>
        </ul>
        <h3 class="text-muted">Açık Kütüphane (Beta)</h3>
      </div>
      <div class="main">
		  <h4 style="font-weight:bold;">Yazar:</h4><h4> {{ author.first_name }} {{ author.last_name }}</h4>
		  <p style="font-weight:bold;">İnternet sitesi:</p> <p> {{author.website}} </p>
		  <p style="font-weight:bold;">E-posta:</p> <p> {{author.email}} </p>
		  <p style="font-weight:bold;">Biyografi:</p> <p> {{author.biography}} </p>
      </div>

      <div class="footer">
        <p>&copy; 2014 - D. Barış Akkurt tarafından geliştirilmektedir. Kitapların içerikleri yazarlarına aittir.</p>
      </div>

    </div>
  </body>
</html>
