{% extends "booksite/base_template.html" %}

{% block menu %}
	<li><a href="/">Ana Sayfa</a></li>
	<li><a href="/all_books/">Tüm Kitaplar</a></li>
	<li><a href="/about/">Hakkında</a></li>
{% endblock %} 

{% block content %}
		{% if dropbox_load %}
		<div class="alert alert-success">Kitap Dropbox hesabınıza eklendi.</div>
		{% else %}
		<p></p>
		{% endif %}
		<div class="inner_main" style="display: table-row;">
			<h4>{{ book.title }}</h4>
			<p style="font-weight: bold;">Özet:</p>
			<p>{{ book.long_summary }}</p>
			<div style="overflow: hidden; float: left; width:70%; display: table-cell;" class="item-column1">
				<p style="font-weight: bold;">Sayfa sayısı:</p>
				<p>{{ book.page_number }}</p>
				<p style="font-weight: bold;">Yazar:</p>
				<ul>
					{% for author in book.authors.all %}
					<li><a href="{% url 'author_detail' author.id %}"> 
						{{ author.first_name }} {{ author.last_name }}
						</a>
					</li> 
					{% endfor %}
				</ul>
				<p style="font-weight: bold;">Kategori:</p>
				<ul>
					{% for genre in book.genres.all %}
					<li>{{ genre.name }}</li> {% endfor %}
				</ul>
				<p style="font-weight: bold;">Dil:</p>
				<p>{{ book.language }}</p>
				<p style="font-weight: bold;">Lisans:</p>
				<p>{{ book.license }}</p>
				<p style="font-weight: bold;">Kitap boyutu:</p>
				<p>{{ book.book_size }} KB</p>
				<p style="font-weight: bold;">İnternet sayfası:</p>
				<p>{{ book.book_url }}</p>

				<div style="float:left; padding-right:5px">
				<a href="/static/{{book.book_file}}"
					class="btn btn-primary">İndir</a>
				</div>
				<div>
					<form action="/dropbox_login/{{book.id}}/" method="post">
						{% csrf_token %} 
						<input type="submit" value="Dropbox'a Yükle" class="btn btn-success" />
					</form>
				</div>
				<div style="display:block;">
					<p style="font-weight: bold;">Ek bilgi:</p>
					<p>{{ book.additional_note }}</p>
				</div>
			</div>
			<div style="overflow:hidden; text-align: right; width:30% display: table-cell;" class="item-column2">
				<img src="/static/{{book.cover_path}}"
					alt="Kitap Kapağı" width="100%" height="100%" />
			</div>
			
		</div>
		<div style="display:block;">Bu kitap Açık Kütüphane'ye {{ book.date_created }} tarihinde eklenmiştir.</div>
{% endblock %}