<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ücretsiz e-kitapların bulunduğu internet sitesi">
    <meta name="author" content="D. Barış Akkurt">

    <title>Açık Kütüphane</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/booksite/">Ana Sayfa</a></li>
          <li class="active"><a href="/booksite/all_books/">Tüm Kitaplar</a></li>
          <li><a href="/booksite/about/">Hakkında</a></li>
        </ul>
        <h3 class="text-muted">Açık Kütüphane (Beta)</h3>
      </div>

      <div class="main">		  
		{% if books_in_genre %}
		<div class="panel panel-default">
		<div class="panel-body">
		<ul class="list-gruop">
		  {% for book in books_in_genre %}
			<li class="list-group-item">
			  <h4><a href="{% url 'book_detail' book.id %}">{{ book.title }} <span class="label label-danger">Yeni</span></a></h4>
			  <p> Tanıtım: </p>
			  <p> {{ book.short_summary }} </p>
			  <p>
				  Yazarlar: 
				  <ul>
				  {% for author in book.authors.all %}
				    <li>{{ author.first_name }} {{ author.last_name }}</li>
				  {% endfor %}
				  </ul>
			  </p>
			  <p> Lisans: </p>
			  <p> {{ book.license }} </p>
			  <img src="http://127.0.0.1:8000/documents/{{book.cover_path}}" alt="Kitap Kapagi" width="100" height="140" />
			</li>
		  {% endfor %}
		</ul>
		</div>
		{% else %}
		  <p>Herhangi bir kitap bulunmamaktadır.</p>
		{% endif %}
      </div>
	
      <div class="footer">
        <p>&copy; 2014 - D. Barış Akkurt tarafından geliştirilmektedir. Kitapların içerikleri yazarlarına aittir.</p>
      </div>

    </div>
  </body>
</html>
