{% extends "booksite/base_template.html" %}

{% block menu %}
	<li><a href="/">Ana Sayfa</a></li>
	<li><a href="/all_books/">Tüm Kitaplar</a></li>
	<li><a href="/about/">Hakkında</a></li>
{% endblock %} 

{% block content %}
		  <h3> {{ license.name }}</h3>
		  <p style="font-weight:bold;">Lisansın İngilizce Aslı:</p> <p> <a href="{{license.english_license}}">{{license.english_license}}</a> </p>
		  <p style="font-weight:bold;">Lisansın Türkçe Çevirisi:</p> <p> <a href="{{license.turkish_license}}"> {{license.turkish_license}} </a> </p>
{% endblock %}