{% extends "booksite/base_template.html" %}

{% block menu %}
	<li><a href="/">Ana Sayfa</a></li>
	<li><a href="/all_books/">Tüm Kitaplar</a></li>
	<li><a href="/about/">Hakkında</a></li>
{% endblock %} 

{% block content %}		  
		<h1>İletişim Formu</h1>
            <form id="category_form" method="post" action="/send_message/">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}<br />
                    {{ field.help_text}}<br />
                    {{ field.label }}
                    {{ field }}<br />
                {% endfor %}

                <input type="submit" class="btn btn-primary" name="submit" value="Gönder" />
            </form>
{% endblock %} 